src/rpc/psdims.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="psdims"
 targetNamespace="urn:psdims"
 xmlns:tns="urn:psdims"
 xmlns:SOAP-ENV="http://www.w3.org/2003/05/soap-envelope"
 xmlns:SOAP-ENC="http://www.w3.org/2003/05/soap-encoding"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:xop="http://www.w3.org/2004/08/xop/include"
 xmlns:xmime5="http://www.w3.org/2005/05/xmlmime"
 xmlns:psdims="urn:psdims"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap12/"
 xmlns:HTTP="http://schemas.xmlsoap.org/wsdl/http/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="urn:psdims"
  xmlns:SOAP-ENV="http://www.w3.org/2003/05/soap-envelope"
  xmlns:SOAP-ENC="http://www.w3.org/2003/05/soap-encoding"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:xop="http://www.w3.org/2004/08/xop/include"
  xmlns:xmime5="http://www.w3.org/2005/05/xmlmime"
  xmlns:psdims="urn:psdims"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://www.w3.org/2003/05/soap-envelope"/>
  <import namespace="http://www.w3.org/2003/05/soap-encoding"/>
  <import namespace="http://www.w3.org/2004/08/xop/include" schemaLocation="http://www.w3.org/2004/08/xop/include"/>
  <import namespace="http://www.w3.org/2005/05/xmlmime" schemaLocation="http://www.w3.org/2005/05/xmlmime"/>

  <simpleType name="notification-type"><!-- psdims__notification_type -->

   <restriction base="xsd:string">
    <enumeration value="FRIEND-REQ"/><!-- psdims__notification_type::FRIEND_REQ -->
    <!-- = 0 -->
    <enumeration value="PENDING-MESS"/><!-- psdims__notification_type::PENDING_MESS -->
    <!-- = 1 -->
   </restriction>
  </simpleType>
  <complexType name="string"><!-- psdims__string -->

   <sequence>
     <element name="string" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- psdims__string::string -->
   </sequence>
  </complexType>
  <complexType name="notif-friend-info"><!-- psdims__notif_friend_info -->

   <sequence>
     <element name="name" type="psdims:string" minOccurs="1" maxOccurs="1"/><!-- psdims__notif_friend_info::name -->
     <element name="send-date" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- psdims__notif_friend_info::send_date -->
   </sequence>
  </complexType>
  <complexType name="notif-friend-list"><!-- psdims__notif_friend_list -->

   <sequence>
     <element name="user" type="psdims:notif-friend-info" minOccurs="0" maxOccurs="unbounded"/><!-- psdims__notif_friend_list::__sizenelems -->
   </sequence>
  </complexType>
  <complexType name="notif-chat-info"><!-- psdims__notif_chat_info -->

   <sequence>
     <element name="chat-id" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- psdims__notif_chat_info::chat_id -->
   </sequence>
  </complexType>
  <complexType name="notif-chat-list"><!-- psdims__notif_chat_list -->

   <sequence>
     <element name="chat" type="psdims:notif-chat-info" minOccurs="0" maxOccurs="unbounded"/><!-- psdims__notif_chat_list::__sizenelems -->
   </sequence>
  </complexType>
  <complexType name="new-chat"><!-- psdims__new_chat -->

   <sequence>
     <element name="description" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- psdims__new_chat::description -->
     <element name="member" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- psdims__new_chat::member -->
   </sequence>
  </complexType>
  <complexType name="login-info"><!-- psdims__login_info -->

   <sequence>
     <element name="name" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- psdims__login_info::name -->
     <element name="password" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- psdims__login_info::password -->
   </sequence>
  </complexType>
  <complexType name="register-info"><!-- psdims__register_info -->

   <sequence>
     <element name="name" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- psdims__register_info::name -->
     <element name="password" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- psdims__register_info::password -->
     <element name="information" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- psdims__register_info::information -->
   </sequence>
  </complexType>
  <complexType name="message-info"><!-- psdims__message_info -->

   <sequence>
     <element name="user" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- psdims__message_info::user -->
     <element name="text" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- psdims__message_info::text -->
     <element name="have-attach" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- psdims__message_info::have_attach -->
     <element name="send-date" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- psdims__message_info::send_date -->
   </sequence>
  </complexType>
  <complexType name="member-list"><!-- psdims__member_list -->

   <sequence>
     <element name="name" type="psdims:string" minOccurs="0" maxOccurs="unbounded"/><!-- psdims__member_list::__sizenelems -->
     <element name="last-timestamp" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- psdims__member_list::last_timestamp -->
   </sequence>
  </complexType>
  <!-- operation request element -->
  <element name="user-info" type="psdims:register-info"/>
  <!-- operation response element -->
  <element name="ERRCODE" type="xsd:int"/>
  <!-- operation request element -->
  <element name="login" type="psdims:login-info"/>
  <!-- operation response element -->
  <element name="name" type="xsd:string"/>
  <!-- operation response element -->
  <element name="information" type="xsd:string"/>
  <!-- operation request element -->
  <element name="timestamp" type="xsd:int"/>
  <!-- operation response element -->
  <element name="user" type="psdims:user-info"/>
  <!-- operation response element -->
  <element name="last-timestamp" type="xsd:int"/>
  <!-- operation response element -->
  <element name="chat-info" type="psdims:chat-info"/>
  <!-- operation request element -->
  <element name="chat-id" type="xsd:int"/>
  <!-- operation response element -->
  <element name="description" type="xsd:string"/>
  <!-- operation response element -->
  <element name="admin" type="xsd:string"/>
  <!-- operation response element -->
  <element name="members" type="psdims:member-list"/>
  <!-- operation response element -->
  <element name="messages" type="psdims:message-info"/>
  <!-- operation request element -->
  <element name="msg-timestamp" type="xsd:int"/>
  <!-- operation response element -->
  <element name="friend-request" type="psdims:notif-friend-list"/>
  <!-- operation response element -->
  <element name="chats-with-messages" type="psdims:notif-chat-list"/>
  <!-- operation request element -->
  <element name="new-chat" type="psdims:new-chat"/>
  <!-- operation request element -->
  <element name="message" type="psdims:message-info"/>
  <!-- operation request element -->
  <element name="file" type="psdims:file"/>
  <!-- operation request element -->
  <element name="request-name" type="xsd:string"/>
 </schema>

</types>

<message name="user-registerRequest">
 <part name="user-info" element="psdims:user-info"/><!-- psdims__user_register::user_info -->
</message>

<message name="user-registerResponse">
 <part name="ERRCODE" element="psdims:ERRCODE"/><!-- psdims__user_register::ERRCODE -->
</message>

<message name="user-unregisterRequest">
 <part name="login" element="psdims:login"/><!-- psdims__user_unregister::login -->
</message>

<message name="user-unregisterResponse">
 <part name="ERRCODE" element="psdims:ERRCODE"/><!-- psdims__user_unregister::ERRCODE -->
</message>

<message name="get-user">
 <part name="login" element="psdims:login"/><!-- psdims__get_user::login -->
</message>

<message name="user-info">
 <part name="name" element="psdims:name"/><!-- psdims__get_user::name -->
 <part name="information" element="psdims:information"/><!-- psdims__get_user::information -->
</message>

<message name="get-friends">
 <part name="login" element="psdims:login"/><!-- psdims__get_friends::login -->
 <part name="timestamp" element="psdims:timestamp"/><!-- psdims__get_friends::timestamp -->
</message>

<message name="user-list">
 <part name="user" element="psdims:user"/><!-- psdims__get_friends::user -->
 <part name="last-timestamp" element="psdims:last-timestamp"/><!-- psdims__get_friends::last_timestamp -->
</message>

<message name="get-chats">
 <part name="login" element="psdims:login"/><!-- psdims__get_chats::login -->
 <part name="timestamp" element="psdims:timestamp"/><!-- psdims__get_chats::timestamp -->
</message>

<message name="chat-list">
 <part name="chat-info" element="psdims:chat-info"/><!-- psdims__get_chats::chat_info -->
 <part name="last-timestamp" element="psdims:last-timestamp"/><!-- psdims__get_chats::last_timestamp -->
</message>

<message name="get-chat-info">
 <part name="login" element="psdims:login"/><!-- psdims__get_chat_info::login -->
 <part name="chat-id" element="psdims:chat-id"/><!-- psdims__get_chat_info::chat_id -->
</message>

<message name="chat-info">
 <part name="chat-id" element="psdims:chat-id"/><!-- psdims__get_chat_info::chat_id -->
 <part name="description" element="psdims:description"/><!-- psdims__get_chat_info::description -->
 <part name="admin" element="psdims:admin"/><!-- psdims__get_chat_info::admin -->
 <part name="members" element="psdims:members"/><!-- psdims__get_chat_info::members -->
</message>

<message name="get-chat-messages">
 <part name="login" element="psdims:login"/><!-- psdims__get_chat_messages::login -->
 <part name="chat-id" element="psdims:chat-id"/><!-- psdims__get_chat_messages::chat_id -->
 <part name="timestamp" element="psdims:timestamp"/><!-- psdims__get_chat_messages::timestamp -->
</message>

<message name="message-list">
 <part name="messages" element="psdims:messages"/><!-- psdims__get_chat_messages::messages -->
 <part name="last-timestamp" element="psdims:last-timestamp"/><!-- psdims__get_chat_messages::last_timestamp -->
</message>

<message name="get-attachment">
 <part name="login" element="psdims:login"/><!-- psdims__get_attachment::login -->
 <part name="chat-id" element="psdims:chat-id"/><!-- psdims__get_attachment::chat_id -->
 <part name="msg-timestamp" element="psdims:msg-timestamp"/><!-- psdims__get_attachment::msg_timestamp -->
</message>

<message name="file">
 <part name="Include" element="xop:Include"/><!-- psdims__get_attachment::xop__Include -->
</message>

<message name="get-pending-notifications">
 <part name="login" element="psdims:login"/><!-- psdims__get_pending_notifications::login -->
 <part name="timestamp" element="psdims:timestamp"/><!-- psdims__get_pending_notifications::timestamp -->
</message>

<message name="notifications">
 <part name="friend-request" element="psdims:friend-request"/><!-- psdims__get_pending_notifications::friend_request -->
 <part name="chats-with-messages" element="psdims:chats-with-messages"/><!-- psdims__get_pending_notifications::chats_with_messages -->
 <part name="last-timestamp" element="psdims:last-timestamp"/><!-- psdims__get_pending_notifications::last_timestamp -->
</message>

<message name="create-chatRequest">
 <part name="login" element="psdims:login"/><!-- psdims__create_chat::login -->
 <part name="new-chat" element="psdims:new-chat"/><!-- psdims__create_chat::new_chat -->
</message>

<message name="create-chatResponse">
 <part name="chat-id" element="psdims:chat-id"/><!-- psdims__create_chat::chat_id -->
</message>

<message name="add-memberRequest">
 <part name="login" element="psdims:login"/><!-- psdims__add_member::login -->
 <part name="name" element="psdims:name"/><!-- psdims__add_member::name -->
 <part name="chat-id" element="psdims:chat-id"/><!-- psdims__add_member::chat_id -->
</message>

<message name="add-memberResponse">
 <part name="ERRCODE" element="psdims:ERRCODE"/><!-- psdims__add_member::ERRCODE -->
</message>

<message name="quit-from-chatRequest">
 <part name="login" element="psdims:login"/><!-- psdims__quit_from_chat::login -->
 <part name="chat-id" element="psdims:chat-id"/><!-- psdims__quit_from_chat::chat_id -->
</message>

<message name="quit-from-chatResponse">
 <part name="ERRCODE" element="psdims:ERRCODE"/><!-- psdims__quit_from_chat::ERRCODE -->
</message>

<message name="send-messageRequest">
 <part name="login" element="psdims:login"/><!-- psdims__send_message::login -->
 <part name="chat-id" element="psdims:chat-id"/><!-- psdims__send_message::chat_id -->
 <part name="message" element="psdims:message"/><!-- psdims__send_message::message -->
</message>

<message name="send-messageResponse">
 <part name="timestamp" element="psdims:timestamp"/><!-- psdims__send_message::timestamp -->
</message>

<message name="send-attachmentRequest">
 <part name="login" element="psdims:login"/><!-- psdims__send_attachment::login -->
 <part name="chat-id" element="psdims:chat-id"/><!-- psdims__send_attachment::chat_id -->
 <part name="msg-timestamp" element="psdims:msg-timestamp"/><!-- psdims__send_attachment::msg_timestamp -->
 <part name="file" element="psdims:file"/><!-- psdims__send_attachment::file -->
</message>

<message name="send-attachmentResponse">
 <part name="ERRCODE" element="psdims:ERRCODE"/><!-- psdims__send_attachment::ERRCODE -->
</message>

<message name="send-friend-requestRequest">
 <part name="login" element="psdims:login"/><!-- psdims__send_friend_request::login -->
 <part name="request-name" element="psdims:request-name"/><!-- psdims__send_friend_request::request_name -->
</message>

<message name="send-friend-requestResponse">
 <part name="timestamp" element="psdims:timestamp"/><!-- psdims__send_friend_request::timestamp -->
</message>

<message name="accept-requestRequest">
 <part name="login" element="psdims:login"/><!-- psdims__accept_request::login -->
 <part name="request-name" element="psdims:request-name"/><!-- psdims__accept_request::request_name -->
</message>

<message name="accept-requestResponse">
 <part name="timestamp" element="psdims:timestamp"/><!-- psdims__accept_request::timestamp -->
</message>

<message name="decline-requestRequest">
 <part name="login" element="psdims:login"/><!-- psdims__decline_request::login -->
 <part name="request-name" element="psdims:request-name"/><!-- psdims__decline_request::request_name -->
</message>

<message name="decline-requestResponse">
 <part name="timestamp" element="psdims:timestamp"/><!-- psdims__decline_request::timestamp -->
</message>

<portType name="psdimsPortType">
 <operation name="user-register">
  <documentation>Service definition of function psdims__user_register</documentation>
  <input message="tns:user-registerRequest"/>
  <output message="tns:user-registerResponse"/>
 </operation>
 <operation name="user-unregister">
  <documentation>Service definition of function psdims__user_unregister</documentation>
  <input message="tns:user-unregisterRequest"/>
  <output message="tns:user-unregisterResponse"/>
 </operation>
 <operation name="get-user">
  <documentation>Service definition of function psdims__get_user</documentation>
  <input message="tns:get-user"/>
  <output message="tns:user-info"/>
 </operation>
 <operation name="get-friends">
  <documentation>Service definition of function psdims__get_friends</documentation>
  <input message="tns:get-friends"/>
  <output message="tns:user-list"/>
 </operation>
 <operation name="get-chats">
  <documentation>Service definition of function psdims__get_chats</documentation>
  <input message="tns:get-chats"/>
  <output message="tns:chat-list"/>
 </operation>
 <operation name="get-chat-info">
  <documentation>Service definition of function psdims__get_chat_info</documentation>
  <input message="tns:get-chat-info"/>
  <output message="tns:chat-info"/>
 </operation>
 <operation name="get-chat-messages">
  <documentation>Service definition of function psdims__get_chat_messages</documentation>
  <input message="tns:get-chat-messages"/>
  <output message="tns:message-list"/>
 </operation>
 <operation name="get-attachment">
  <documentation>Service definition of function psdims__get_attachment</documentation>
  <input message="tns:get-attachment"/>
  <output message="tns:file"/>
 </operation>
 <operation name="get-pending-notifications">
  <documentation>Service definition of function psdims__get_pending_notifications</documentation>
  <input message="tns:get-pending-notifications"/>
  <output message="tns:notifications"/>
 </operation>
 <operation name="create-chat">
  <documentation>Service definition of function psdims__create_chat</documentation>
  <input message="tns:create-chatRequest"/>
  <output message="tns:create-chatResponse"/>
 </operation>
 <operation name="add-member">
  <documentation>Service definition of function psdims__add_member</documentation>
  <input message="tns:add-memberRequest"/>
  <output message="tns:add-memberResponse"/>
 </operation>
 <operation name="quit-from-chat">
  <documentation>Service definition of function psdims__quit_from_chat</documentation>
  <input message="tns:quit-from-chatRequest"/>
  <output message="tns:quit-from-chatResponse"/>
 </operation>
 <operation name="send-message">
  <documentation>Service definition of function psdims__send_message</documentation>
  <input message="tns:send-messageRequest"/>
  <output message="tns:send-messageResponse"/>
 </operation>
 <operation name="send-attachment">
  <documentation>Service definition of function psdims__send_attachment</documentation>
  <input message="tns:send-attachmentRequest"/>
  <output message="tns:send-attachmentResponse"/>
 </operation>
 <operation name="send-friend-request">
  <documentation>Service definition of function psdims__send_friend_request</documentation>
  <input message="tns:send-friend-requestRequest"/>
  <output message="tns:send-friend-requestResponse"/>
 </operation>
 <operation name="accept-request">
  <documentation>Service definition of function psdims__accept_request</documentation>
  <input message="tns:accept-requestRequest"/>
  <output message="tns:accept-requestResponse"/>
 </operation>
 <operation name="decline-request">
  <documentation>Service definition of function psdims__decline_request</documentation>
  <input message="tns:decline-requestRequest"/>
  <output message="tns:decline-requestResponse"/>
 </operation>
</portType>

<binding name="psdims" type="tns:psdimsPortType">
 <SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="user-register">
  <SOAP:operation style="rpc"/>
  <input>
     <SOAP:body parts="Body" use="literal" namespace="urn:psdims"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal" namespace="urn:psdims"/>
  </output>
 </operation>
 <operation name="user-unregister">
  <SOAP:operation style="rpc"/>
  <input>
     <SOAP:body parts="Body" use="literal" namespace="urn:psdims"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal" namespace="urn:psdims"/>
  </output>
 </operation>
 <operation name="get-user">
  <SOAP:operation style="rpc"/>
  <input>
     <SOAP:body parts="Body" use="literal" namespace="urn:psdims"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal" namespace="urn:psdims"/>
  </output>
 </operation>
 <operation name="get-friends">
  <SOAP:operation style="rpc"/>
  <input>
     <SOAP:body parts="Body" use="literal" namespace="urn:psdims"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal" namespace="urn:psdims"/>
  </output>
 </operation>
 <operation name="get-chats">
  <SOAP:operation style="rpc"/>
  <input>
     <SOAP:body parts="Body" use="literal" namespace="urn:psdims"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal" namespace="urn:psdims"/>
  </output>
 </operation>
 <operation name="get-chat-info">
  <SOAP:operation style="rpc"/>
  <input>
     <SOAP:body parts="Body" use="literal" namespace="urn:psdims"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal" namespace="urn:psdims"/>
  </output>
 </operation>
 <operation name="get-chat-messages">
  <SOAP:operation style="rpc"/>
  <input>
     <SOAP:body parts="Body" use="literal" namespace="urn:psdims"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal" namespace="urn:psdims"/>
  </output>
 </operation>
 <operation name="get-attachment">
  <SOAP:operation style="rpc"/>
  <input>
     <SOAP:body parts="Body" use="literal" namespace="urn:psdims"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal" namespace="urn:psdims"/>
  </output>
 </operation>
 <operation name="get-pending-notifications">
  <SOAP:operation style="rpc"/>
  <input>
     <SOAP:body parts="Body" use="literal" namespace="urn:psdims"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal" namespace="urn:psdims"/>
  </output>
 </operation>
 <operation name="create-chat">
  <SOAP:operation style="rpc"/>
  <input>
     <SOAP:body parts="Body" use="literal" namespace="urn:psdims"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal" namespace="urn:psdims"/>
  </output>
 </operation>
 <operation name="add-member">
  <SOAP:operation style="rpc"/>
  <input>
     <SOAP:body parts="Body" use="literal" namespace="urn:psdims"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal" namespace="urn:psdims"/>
  </output>
 </operation>
 <operation name="quit-from-chat">
  <SOAP:operation style="rpc"/>
  <input>
     <SOAP:body parts="Body" use="literal" namespace="urn:psdims"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal" namespace="urn:psdims"/>
  </output>
 </operation>
 <operation name="send-message">
  <SOAP:operation style="rpc"/>
  <input>
     <SOAP:body parts="Body" use="literal" namespace="urn:psdims"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal" namespace="urn:psdims"/>
  </output>
 </operation>
 <operation name="send-attachment">
  <SOAP:operation style="rpc"/>
  <input>
     <SOAP:body parts="Body" use="literal" namespace="urn:psdims"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal" namespace="urn:psdims"/>
  </output>
 </operation>
 <operation name="send-friend-request">
  <SOAP:operation style="rpc"/>
  <input>
     <SOAP:body parts="Body" use="literal" namespace="urn:psdims"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal" namespace="urn:psdims"/>
  </output>
 </operation>
 <operation name="accept-request">
  <SOAP:operation style="rpc"/>
  <input>
     <SOAP:body parts="Body" use="literal" namespace="urn:psdims"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal" namespace="urn:psdims"/>
  </output>
 </operation>
 <operation name="decline-request">
  <SOAP:operation style="rpc"/>
  <input>
     <SOAP:body parts="Body" use="literal" namespace="urn:psdims"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal" namespace="urn:psdims"/>
  </output>
 </operation>
</binding>

<service name="psdims">
 <documentation>gSOAP 2.8.22 generated service definition</documentation>
 <port name="psdims" binding="tns:psdims">
  <SOAP:address location="http://localhost:10000"/>
 </port>
</service>

</definitions>
